<launch>
  <arg name="namespace" default="ais"/>
  <arg name="filename"/>
  <arg name="rate" default="1.0"/>

  <param name="/use_sim_time" type="bool" value="true"/>

  <group ns="$(arg namespace)">
    <node pkg="marine_ais_tools" type="nmea_replay.py" name="nmea_replay">
      <param name="filename" value="$(arg filename)"/>
      <param name="clock" value="True"/>
      <param name="rate" value="$(arg rate)"/>
    </node>

    <node pkg="marine_ais_tools" type="ais_parser.py" name="ais_parser">
    </node>
    <node pkg="marine_ais_tools" type="ais_contact_tracker.py" name="ais_contact_tracker">
    </node>
  </group>
</launch>
